name: Node.js CI

on:
  push:
    branches: ['**']
  pull_request:
    branches: [master]

env:
  NODE_ENV: ci

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm i -g npm@9
      - run: npm ci
      - run: npm audit --audit-level=moderate
      - run: npm run lint
      - run: npm run build --if-present
      - run: npm test
